flows.json
[
    {
        "id": "3b3e4ffe93b68331",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc9601a79873621a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a10c272d94329555",
        "type": "puppeteer-browser-launch",
        "z": "3b3e4ffe93b68331",
        "nameOrId": "0db584a2-8b39-4d0a-8fe4-c3255f6483b2",
        "timeout": 30000,
        "slowMo": 0,
        "headless": 0,
        "debugport": "",
        "devtools": false,
        "cookies": "",
        "name": "",
        "executablePath": "C:\\Users\\phamh\\AppData\\Local\\Programs\\GPMLogin\\gpm_browser\\gpm_browser_chromium_core_127\\\\chrome.exe",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "51fac4286fff93e4"
            ]
        ]
    },
    {
        "id": "51fac4286fff93e4",
        "type": "puppeteer-page-goto",
        "z": "3b3e4ffe93b68331",
        "name": "URL Start",
        "url": "https://github.com/buiducduy111/GPMLoginApiV2",
        "urltype": "str",
        "waitUntil": "networkidle2",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "d515635ad7a2a489"
            ]
        ]
    },
    {
        "id": "17f51818f643bf7b",
        "type": "inject",
        "z": "3b3e4ffe93b68331",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "a10c272d94329555"
            ]
        ]
    },
    {
        "id": "9fe718c6eaaf1f65",
        "type": "puppeteer-browser-close",
        "z": "3b3e4ffe93b68331",
        "name": "",
        "x": 540,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f2271d95bf9e6d2d",
        "type": "http request",
        "z": "3b3e4ffe93b68331",
        "name": "Start profiles",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:19995/api/v3/profiles/start/37ab5927-3f3d-4356-801e-d56257ff96ec",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "c78a77b6aaca40be"
            ]
        ]
    },
    {
        "id": "0acc9c2487d3f51c",
        "type": "inject",
        "z": "3b3e4ffe93b68331",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "f2271d95bf9e6d2d"
            ]
        ]
    },
    {
        "id": "ca42f4bc3a953785",
        "type": "http request",
        "z": "3b3e4ffe93b68331",
        "name": "Get Profiles",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:19995/api/v3/profiles",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 120,
        "wires": [
            [
                "c78a77b6aaca40be"
            ]
        ]
    },
    {
        "id": "770fb11299c45008",
        "type": "inject",
        "z": "3b3e4ffe93b68331",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "ca42f4bc3a953785"
            ]
        ]
    },
    {
        "id": "c78a77b6aaca40be",
        "type": "debug",
        "z": "3b3e4ffe93b68331",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "d515635ad7a2a489",
        "type": "puppeteer-page-screenshot",
        "z": "3b3e4ffe93b68331",
        "name": "",
        "fullpage": true,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "9fe718c6eaaf1f65"
            ]
        ]
    },
    {
        "id": "ffd691968679218f",
        "type": "exec",
        "z": "3b3e4ffe93b68331",
        "command": "ping",
        "addpay": "",
        "append": "www.google.com",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 330,
        "y": 1040,
        "wires": [
            [
                "a6d238047ef4eae0"
            ],
            [
                "a6d238047ef4eae0"
            ],
            [
                "a6d238047ef4eae0"
            ]
        ]
    },
    {
        "id": "df8bae9c999dfe97",
        "type": "inject",
        "z": "3b3e4ffe93b68331",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "ffd691968679218f"
            ]
        ]
    },
    {
        "id": "a6d238047ef4eae0",
        "type": "debug",
        "z": "3b3e4ffe93b68331",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1040,
        "wires": []
    },
    {
        "id": "0cc1480f535e1d6d",
        "type": "inject",
        "z": "3b3e4ffe93b68331",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 120,
        "wires": [
            [
                "75764104badad2b7"
            ]
        ]
    },
    {
        "id": "75764104badad2b7",
        "type": "debug",
        "z": "3b3e4ffe93b68331",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "4c7370b6cf98dc3c",
        "type": "variables",
        "z": "3b3e4ffe93b68331",
        "name": "",
        "variables": [
            {
                "name": "link",
                "value": "https://github.com/hj91/node-red-contrib-context-set-get",
                "scope": "flow"
            },
            {
                "name": "link2",
                "value": "https://github.com/hj91/node-red-contrib-data-validator",
                "scope": "global"
            },
            {
                "name": "link2flow",
                "value": "https://github.com/hj91/node-red-contrib-data-validator",
                "scope": "flow"
            }
        ],
        "x": 320,
        "y": 660,
        "wires": [
            [
                "d220038f2cb8edee",
                "44a9e859038c565a"
            ]
        ]
    },
    {
        "id": "921b4452c75db381",
        "type": "inject",
        "z": "3b3e4ffe93b68331",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "4c7370b6cf98dc3c"
            ]
        ]
    },
    {
        "id": "d220038f2cb8edee",
        "type": "function",
        "z": "3b3e4ffe93b68331",
        "name": "function 1",
        "func": "var linkValue = {payload: flow.get(\"link\")};\nconsole.log(\"Link value:\", linkValue);\nreturn [linkValue, msg];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 660,
        "wires": [
            [
                "c6dd25813319d5dd"
            ]
        ]
    },
    {
        "id": "c6dd25813319d5dd",
        "type": "debug",
        "z": "3b3e4ffe93b68331",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 660,
        "wires": []
    },
    {
        "id": "2f7e0c7b935e9884",
        "type": "puppeteer-page-goto",
        "z": "3b3e4ffe93b68331",
        "name": "Link",
        "url": "link2flow",
        "urltype": "flow",
        "waitUntil": "networkidle2",
        "x": 510,
        "y": 780,
        "wires": [
            [
                "37019076ac6fec71"
            ]
        ]
    },
    {
        "id": "37019076ac6fec71",
        "type": "puppeteer-page-screenshot",
        "z": "3b3e4ffe93b68331",
        "name": "",
        "x": 690,
        "y": 780,
        "wires": [
            [
                "eeb7e7d345ca7428"
            ]
        ]
    },
    {
        "id": "44a9e859038c565a",
        "type": "puppeteer-browser-launch",
        "z": "3b3e4ffe93b68331",
        "nameOrId": "",
        "timeout": 30000,
        "slowMo": 0,
        "headless": 0,
        "debugport": 0,
        "devtools": false,
        "cookies": "",
        "name": "",
        "executablePath": "",
        "x": 520,
        "y": 720,
        "wires": [
            [
                "2f7e0c7b935e9884"
            ]
        ]
    },
    {
        "id": "eeb7e7d345ca7428",
        "type": "puppeteer-browser-close",
        "z": "3b3e4ffe93b68331",
        "name": "",
        "x": 880,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "3de67d59d3d62589",
        "type": "puppeteer-page-click",
        "z": "dc9601a79873621a",
        "selector": "search",
        "selectortype": "flow",
        "button": "left",
        "clickCount": 1,
        "delay": "5000",
        "name": "Click search bar",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "eb7e18410212903f"
            ]
        ]
    },
    {
        "id": "eb7e18410212903f",
        "type": "puppeteer-page-keyboard-type",
        "z": "dc9601a79873621a",
        "name": "",
        "text": "linkmac",
        "texttype": "flow",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "9f699cda828e3dfe"
            ]
        ]
    },
    {
        "id": "dcf43f74283cdfc2",
        "type": "variables",
        "z": "dc9601a79873621a",
        "name": "",
        "variables": [
            {
                "name": "search",
                "value": "textarea",
                "scope": "flow"
            },
            {
                "name": "linkshopping",
                "value": "https://www.google.com.vn/shopping/product/1?gl=vn&prds=epd:2999311596284781562,eto:2999311596284781562_0,pid:2999311596284781562&sa=X",
                "scope": "flow"
            },
            {
                "name": "linkmac",
                "value": "son mac 666",
                "scope": "flow"
            }
        ],
        "x": 280,
        "y": 80,
        "wires": [
            [
                "c81ba16d9c8bb4a0"
            ]
        ]
    },
    {
        "id": "75fbf270af533494",
        "type": "inject",
        "z": "dc9601a79873621a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "dcf43f74283cdfc2"
            ]
        ]
    },
    {
        "id": "c81ba16d9c8bb4a0",
        "type": "puppeteer-browser-launch",
        "z": "dc9601a79873621a",
        "nameOrId": "",
        "timeout": 30000,
        "slowMo": 0,
        "headless": 0,
        "debugport": 0,
        "devtools": false,
        "cookies": "",
        "name": "",
        "executablePath": "",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "ee24d33dad878878"
            ]
        ]
    },
    {
        "id": "ee24d33dad878878",
        "type": "puppeteer-page-goto",
        "z": "dc9601a79873621a",
        "name": "Link shopping",
        "url": "linkshopping",
        "urltype": "flow",
        "waitUntil": "networkidle2",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "b97b6c51ccc54c6e"
            ]
        ]
    },
    {
        "id": "b97b6c51ccc54c6e",
        "type": "puppeteer-page-screenshot",
        "z": "dc9601a79873621a",
        "name": "",
        "x": 670,
        "y": 180,
        "wires": [
            [
                "3de67d59d3d62589"
            ]
        ]
    },
    {
        "id": "1132e34224b2b391",
        "type": "puppeteer-page-screenshot",
        "z": "dc9601a79873621a",
        "name": "",
        "x": 670,
        "y": 460,
        "wires": [
            [
                "3646f7745e2db744"
            ]
        ]
    },
    {
        "id": "9f699cda828e3dfe",
        "type": "puppeteer-page-click",
        "z": "dc9601a79873621a",
        "selector": "button[type=\"submit\"]",
        "selectortype": "str",
        "button": "left",
        "clickCount": 1,
        "delay": "7000",
        "name": "Click search",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "d55b37d64a6e28dd"
            ]
        ]
    },
    {
        "id": "d55b37d64a6e28dd",
        "type": "puppeteer-page-waitFor",
        "z": "dc9601a79873621a",
        "name": "Wait for a",
        "selector": "a[class=\"Lq5OHe eaGTj translate-content\"]",
        "selectortype": "str",
        "x": 660,
        "y": 380,
        "wires": [
            [
                "1132e34224b2b391"
            ]
        ]
    },
    {
        "id": "3646f7745e2db744",
        "type": "puppeteer-browser-close",
        "z": "dc9601a79873621a",
        "name": "",
        "x": 460,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "05786752e2bb708e",
        "type": "puppeteer-page-download",
        "z": "dc9601a79873621a",
        "selector": "selector",
        "selectortype": "flow",
        "button": "left",
        "clickCount": 1,
        "delay": 0,
        "downloadPath": "downloadpath",
        "downloadPathtype": "flow",
        "fileName": "filename",
        "fileNametype": "flow",
        "name": "Download",
        "x": 500,
        "y": 720,
        "wires": [
            [
                "e3872f539a25c964"
            ]
        ]
    },
    {
        "id": "6fa6b90e88343dbb",
        "type": "puppeteer-page-focus",
        "z": "dc9601a79873621a",
        "name": "Focus",
        "selector": "selector",
        "selectortype": "flow",
        "x": 490,
        "y": 780,
        "wires": [
            [
                "8f18d5766a62b7fa"
            ]
        ]
    },
    {
        "id": "68a0958860e4e928",
        "type": "puppeteer-page-waitFor",
        "z": "dc9601a79873621a",
        "name": "Wait for ",
        "selector": "selector",
        "selectortype": "flow",
        "x": 500,
        "y": 840,
        "wires": [
            [
                "ba07b52214145cd5"
            ]
        ]
    },
    {
        "id": "30b2977f5b36fc0e",
        "type": "puppeteer-page-get-value",
        "z": "dc9601a79873621a",
        "name": "Get",
        "selector": "selector",
        "selectortype": "flow",
        "property": "property",
        "propertytype": "flow",
        "x": 490,
        "y": 900,
        "wires": [
            [
                "3f45190a6da5d4d5"
            ]
        ]
    },
    {
        "id": "e68c50540229f77b",
        "type": "puppeteer-page-set-value",
        "z": "dc9601a79873621a",
        "name": "Set",
        "selector": "selector",
        "selectortype": "flow",
        "value": "helloworld",
        "valuetype": "flow",
        "x": 490,
        "y": 960,
        "wires": [
            [
                "93653ca78b3a6a69"
            ]
        ]
    },
    {
        "id": "352cb45e6ccfc46c",
        "type": "puppeteer-page-upload",
        "z": "dc9601a79873621a",
        "name": "Upload file",
        "selector": "selector",
        "selectortype": "flow",
        "file": "uploadfile",
        "filetype": "flow",
        "x": 510,
        "y": 1020,
        "wires": [
            [
                "1ea95df8313f559a"
            ]
        ]
    },
    {
        "id": "51fa9d57c0563782",
        "type": "puppeteer-page-setCookies",
        "z": "dc9601a79873621a",
        "name": "",
        "cookies": "cookies",
        "cookiesType": "flow",
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "e31362ac79bbce08"
            ]
        ]
    },
    {
        "id": "f5032468077bc812",
        "type": "inject",
        "z": "dc9601a79873621a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "7ac57776861361a5"
            ]
        ]
    },
    {
        "id": "75fa409f269c1860",
        "type": "inject",
        "z": "dc9601a79873621a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "6fa6b90e88343dbb"
            ]
        ]
    },
    {
        "id": "df4b7b7fd9431d5f",
        "type": "inject",
        "z": "dc9601a79873621a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "68a0958860e4e928"
            ]
        ]
    },
    {
        "id": "f745a9ac47551944",
        "type": "inject",
        "z": "dc9601a79873621a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "9861235d16a8c573"
            ]
        ]
    },
    {
        "id": "fcd5e8badd54905f",
        "type": "inject",
        "z": "dc9601a79873621a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 900,
        "wires": [
            [
                "30b2977f5b36fc0e"
            ]
        ]
    },
    {
        "id": "8f067bf04a276548",
        "type": "inject",
        "z": "dc9601a79873621a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 960,
        "wires": [
            [
                "e68c50540229f77b"
            ]
        ]
    },
    {
        "id": "becb77eaf8d0f94a",
        "type": "inject",
        "z": "dc9601a79873621a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 141,
        "y": 1022,
        "wires": [
            [
                "352cb45e6ccfc46c"
            ]
        ]
    },
    {
        "id": "7ac57776861361a5",
        "type": "variables",
        "z": "dc9601a79873621a",
        "name": "",
        "variables": [
            {
                "name": "selector",
                "value": "a",
                "scope": "flow"
            },
            {
                "name": "downloadpath",
                "value": "C:/",
                "scope": "flow"
            },
            {
                "name": "filename",
                "value": "nulldownload",
                "scope": "flow"
            },
            {
                "name": "helloworld",
                "value": "\"Hello World!\"",
                "scope": "flow"
            },
            {
                "name": "property",
                "value": "innerText",
                "scope": "flow"
            },
            {
                "name": "uploadfile",
                "value": "C:/",
                "scope": "flow"
            }
        ],
        "x": 320,
        "y": 720,
        "wires": [
            [
                "05786752e2bb708e"
            ]
        ]
    },
    {
        "id": "9861235d16a8c573",
        "type": "variables",
        "z": "dc9601a79873621a",
        "name": "",
        "variables": [
            {
                "name": "cookies",
                "value": "[     {         \"name\": \"visitorID\",         \"value\": \"visitor_12345\",         \"domain\": \"analytics.example.com\",         \"expires\": 1735689600000,         \"secure\": true     },     {         \"name\": \"lastVisit\",         \"value\": \"2023-08-01\",         \"path\": \"/stats\"     } ]",
                "scope": "flow"
            }
        ],
        "x": 320,
        "y": 1080,
        "wires": [
            [
                "51fa9d57c0563782"
            ]
        ]
    },
    {
        "id": "e3872f539a25c964",
        "type": "debug",
        "z": "dc9601a79873621a",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "8f18d5766a62b7fa",
        "type": "debug",
        "z": "dc9601a79873621a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 780,
        "wires": []
    },
    {
        "id": "ba07b52214145cd5",
        "type": "debug",
        "z": "dc9601a79873621a",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 840,
        "wires": []
    },
    {
        "id": "e31362ac79bbce08",
        "type": "debug",
        "z": "dc9601a79873621a",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1080,
        "wires": []
    },
    {
        "id": "3f45190a6da5d4d5",
        "type": "debug",
        "z": "dc9601a79873621a",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 900,
        "wires": []
    },
    {
        "id": "93653ca78b3a6a69",
        "type": "debug",
        "z": "dc9601a79873621a",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 960,
        "wires": []
    },
    {
        "id": "1ea95df8313f559a",
        "type": "debug",
        "z": "dc9601a79873621a",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1020,
        "wires": []
    }
]